body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    color :white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(255, 0, 0, 0.3);
}
h1 {
    color: #ffffff;
}
a{
    color: aqua;
    text-decoration: none;
}
h2 {
    color: #000000;
}   