{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1>Движимость.kz</h1>
                <a href="{% url 'home' %}"> Главная </a></li>
            </div>

        </header>
        <img src="{% static 'ad.jpg' %}" class="ad" alt="ad">
        {% block content %}
        {% endblock %}
    </body>
</html>